{% extends 'blogs/base_detail.html' %}
{% load staticfiles %}
{% block content %}

<section class="About-area section-gap" id="about">

  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-8 col-md-8">
        <h3 class="mb-30">Create a trip blog</h3>
        <form action="{% url 'create_blog' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="mt-10">
            <input type="text" name="title" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'" required class="single-input">
            {{ blog.title }}
            </input>
          </div>
          <div class="mt-10">
            <span class="mb-30">Header Image: <input type="file" name="headerImage" accept="image/*" /> {{ blog.headerImage }} </input> </span>
          </div>
          <div class="mt-10">
            <input type="text" name="date" placeholder="Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date'" required class="single-input">
            {{ blog.date }}
            </input>
          </div>

          <div class="input-group-icon mt-10">
            <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
            <input type="text" name="location" placeholder="Location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Location'" required class="single-input">
            {{ blog.location }}</input>
          </div>

          <div class="mt-10">
            <textarea class="single-textarea" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required>
              {{ blog.description }} </textarea>
          </div>
          <div class="mt-10">
            <span class="mb-30">Primary Image: <input type="file" name="image1" accept="image/*" /> {{ blog.image1 }} </input> </span>
          </div>
          <div class="mt-10">
            <span class="mb-30">Secondary Image: <input type="file" name="image2" accept="image/*" /> {{ blog.image2 }} </input> </span>
          </div>
          <div class="mt-10">
            <span class="mb-30">Tertiary Image: <input type="file" name="image3" accept="image/*" /> {{ blog.image3 }} </input> </span>
          </div>

          <div class="mt-10">
           <button type="submit" class="btn-white btn text-uppercase">CREATE</button>
          </div>

        </form>

    </div>
  </div>

</section>

{% endblock %}
